// Mixin 

@mixin transform($rotate_all){
  -webkit-transform: ($rotate_all);
  -ms-transform: ($rotate_all);
  -moz-transform: ($rotate_all);
  -o-transform: ($rotate_all);
  transform: ($rotate_all);
}


@mixin transition($rotate){
  -webkit-transition: ($rotate);
  -ms-transition: ($rotate);
  -moz-transition: ($rotate);
  -o-transition: ($rotate);
  transition: ($rotate);
}

@mixin transform-origin($rotate_origin){
  -webkit-transform-origin: ($rotate_origin);
  -ms-transform-origin: ($rotate_origin);
  -moz-transform-origin: ($rotate_origin);
  -o-transform-origin: ($rotate_origin);
  transform-origin: ($rotate_origin);
}

@mixin transition-delay($rotate_sec){
  -webkit-transform-origin: ($rotate_sec);
  -ms-transform-origin: ($rotate_sec);
  -moz-transform-origin: ($rotate_sec);
  -o-transform-origin: ($rotate_sec);
  transform-origin: ($rotate_sec);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}